<?xml version="1.0"?>
<ruleset name="Forage">
    <description>Forage WordPress coding standards.</description>

    <file>app</file>
    <file>inc</file>
    <file>resources/functions.php</file>

    <exclude-pattern>vendor/*</exclude-pattern>
    <exclude-pattern>node_modules/*</exclude-pattern>
    <exclude-pattern>dist/*</exclude-pattern>
    <exclude-pattern>resources/views/*</exclude-pattern>

    <arg name="extensions" value="php"/>
    <arg name="basepath" value="."/>
    <arg name="colors"/>

    <config name="text_domain" value="forage"/>

    <rule ref="WordPress">
        <exclude name="Generic.Classes.DuplicateClassName"/>
        <exclude name="Generic.Classes.OpeningBraceSameLine"/>
        <exclude name="Generic.CodeAnalysis.UselessOverridingMethod"/>
        <exclude name="Generic.Files.OneObjectStructurePerFile"/>
        <exclude name="Generic.Formatting.MultipleStatementAlignment"/>
        <exclude name="Generic.Functions.OpeningFunctionBraceKernighanRitchie"/>
        <exclude name="Generic.WhiteSpace.ArbitraryParenthesesSpacing"/>
        <exclude name="Generic.WhiteSpace.DisallowSpaceIndent"/>
        <exclude name="Generic.Commenting.DocComment"/>
        <exclude name="NormalizedArrays.Arrays"/>
        <exclude name="PEAR.Functions.FunctionCallSignature"/>
        <exclude name="Squiz.Arrays.ArrayDeclaration"/>
        <exclude name="Squiz.Commenting.ClassComment"/>
        <exclude name="Squiz.Commenting.FileComment"/>
        <exclude name="Squiz.Commenting.FunctionComment"/>
        <exclude name="Squiz.Commenting.InlineComment"/>
        <exclude name="Squiz.Commenting.VariableComment"/>
        <exclude name="Squiz.Functions.FunctionDeclarationArgumentSpacing"/>
        <exclude name="Squiz.PHP.CommentedOutCode"/>
        <exclude name="Squiz.WhiteSpace"/>
        <exclude name="WordPress.WP.EnqueuedResources.NonEnqueuedScript"/>
        <exclude name="Universal.Arrays.DisallowShortArraySyntax"/>
        <exclude name="WordPress.NamingConventions.ValidFunctionName"/>
        <exclude name="WordPress.Arrays"/>
        <exclude name="WordPress.Files.FileName"/>
        <exclude name="WordPress.NamingConventions.ValidVariableName"/>
        <exclude name="WordPress.WhiteSpace"/>
    </rule>
</ruleset>
