@import "common/global.css";
@import "common/fonts.css";

body {
  font-family: Montserrat, sans-serif;
  background: white url('../images/logo.svg') no-repeat center center;

  > *:not(#wpadminbar) {
    margin-inline: auto;
    max-width: 82ch;
  }
}

.banner {
  align-items: center;
  display: flex;
  padding: 1rem 2rem;

  h3 {
    margin: 0;
  }

  img {
    margin-right: 1rem;
    max-height: 2.5rem;
    max-width: 2.5rem;
    object-fit: contain;
  }
}

.main {
  padding-inline: 20px;
}
