@import "common/global.css";
/* @import "common/fonts.css"; */
@import "partials/buttons.css";
@import "partials/nav.css";

body {
  font-family: Montserrat, sans-serif;

  > *:not(#wpadminbar) {
    margin-inline: auto;
    max-width: 82ch;
  }
}

.banner {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;

  *:last-child {
    flex-grow: 1;
  }

  h3 {
    margin: 0;
  }

  img {
    margin-right: 1rem;
    max-height: 2.5rem;
    max-width: 2.5rem;
    object-fit: contain;
  }
}

header-actions {
  display: flex;
  gap: 1rem;
  justify-content: end;
}
